.btn {
    background-color: #0a192f00;
    border: 1px solid #65ffda;
    border-radius: 5px;
    padding: 1.25rem 1.75rem;
    color: #65ffda;
    width: fit-content;
    cursor: pointer;
}

.btn:hover {
    background-color: #65ffdb31;
}

.btn:active {
    box-shadow: inset 4px 4px 8px #00000063;
    transform: translateY(2px) translateX(0.5px);
}