$backgroundColor-default: #943b3b;
$defaultColorText: rgb(47, 47, 47);
$DarkBackground: #151f28;
$MainBackground: #10171e;
$buttonPagingColor: rgba(0, 0, 0, 0.374);
$buttonPagingColorHover: rgba(0, 0, 0, 0.572);
$text-Gwhite: rgb(240, 240, 240);