$backgroundColor-default: #192430;
$defaultColorText: rgb(240, 240, 240);
$DarkBackground: #151f28;
$MainBackground: #10171e;
$buttonPagingColor: rgba(0, 0, 0, 0.374);
$buttonPagingColorHover: rgba(0, 0, 0, 0.572);
