@import "../../styles/_mixins";
@import "../../styles/_variables";

.Catalog {
  @include flex-container($direction: column, $align: center, $gap: 20px);
  background-color: $MainBackground;
  color: $text-Gwhite;
  padding: 40px;
  height: 94vh;
  box-sizing: border-box;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #696969;
    border-radius: 10px;
    border: 3px solid #ffffff00;
  }
  .gallery {
    box-sizing: border-box;
    @include flex-container($justify: center, $gap: 10px, $wrap: wrap);

    img:hover {
      position: relative;
      z-index: 2;
      cursor: pointer;
      box-sizing: border-box;
      box-shadow: 0 0 8px white;
      transition: all 0.35s ease-in-out;
      transform: scale(1.1);
    }
  }
}
