body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  height: 50vh;
  background-color: rgb(154, 190, 213);
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 0px 0px 400px black;
  width: 100%;
}

.counter {
  background-color: white;
  box-shadow: inset 0px 0px 1px rgb(160, 160, 160);
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: 0;
  background-color: rgb(55, 101, 124);
  color: white;
  height: 30px;
  width: 40px;
}

button:hover {
  background-color: rgb(102, 144, 165);
}

button:active {
  box-shadow: inset 0px 0px 8px rgba(35, 64, 79, 0.621);
}
