.AddMessage {
  margin-bottom: 40px;
  padding: 20px 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
  box-shadow:0 0 2px rgba(0, 0, 0, 0.25);
}

.AddMessage__input {
  display: flex;
  gap:10px;
  width: 100%;
}

.AddMessage__text {
  width: 100%;
  border-radius: 20px;
  border: 0;
  outline: none;
  
  background-color: rgb(235, 235, 235);
  margin: 0 auto;
}

.Message__avatar {
  width: 40px;
  border-radius: 100%;
}

.AddMessage input {
  padding: 10px 20px;
}

/* .AddMessage__text::placeholder {
  padding-left: 20px
  
} */