@import "../../styles/_mixins";

.Instruction {
  @include flex-container($direction: column, $gap: 20px);
  color: rgb(32, 32, 32);
  position: relative;
  overflow: hidden;
  padding: 40px;
  min-height: 40vh;

  h2 {
    position: relative;
    z-index: 2;
    font-weight: 800;
  }

  .overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0;
    border-bottom-left-radius: 8px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(245, 245, 245, 1) 45%,
      rgba(245, 245, 245, 0) 85%
    );
  }

  .thumbnail {
    width: 600px;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0px;
    z-index: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .maincontent {
    @include flex-container($gap: 20px);
    position: relative;

    .text {
      position: relative;
      z-index: 1;
      width: 80%;
      line-height: 25px;
      color: rgba(0, 0, 0, 0.585);
      font-weight: bold;
      text-shadow: 0 0 4px rgba(255, 255, 255, 0.64);
    }
  }
}
