@import '../../styles/_variables';
@import '../../styles/_mixins';

.MainModal {
    @include flex-container(row, center, center);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    color: rgba(255, 255, 255, 0.898);
    width: 100%;
    height: 100vh;
    background-color:rgba(41, 41, 41, 0.678);
    backdrop-filter: blur(4px);

    &.open .MainModal__container {
        transform: scale(1);
        opacity: 1;
    }

    &__container {
        position: relative;
        gap: 20px;
        @include flex-container(row, space-between, center, nowrap, 20px);
        padding: 20px;
        box-sizing: border-box;
        height: 80%;
        width: 90%;
        background-color: rgba(0, 0, 0, 0.684);
        transition: all 0.45s;
        transform: scale(0);
        opacity: 0;

        &-background {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -3;
            filter: blur(1px);
            opacity: 0.7;

            &_overlay {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -2;
                width: 100%;
                height: 100%;
                background: rgb(0, 0, 0);
            background: radial-gradient(circle, rgba(0,0,0,0) 40%, rgba(0, 0, 0, 0.791) 98%);
            } 

            &_halfoverlay {
                position: absolute;
                top: 10%;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 90%;
                background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,1) 49%, rgba(0,0,0,0) 92%);
            }
        } 
    }

    &__info {
        align-self: flex-start;
        @include flex-container($direction: column, $justify: center, $gap: 20px);
        height: 100%;
        box-sizing: border-box;
        padding: 40px;

        &_container_title {
            @include flex-container($direction: column, $gap: 5px);
        }

        &_title {
            text-transform: uppercase;
            margin: 0;
            padding: 0;
        }

        p {
            padding: 0;
            margin: 0;
        }

        &_genres {
            @include flex-container($gap: 10px);
            list-style: none;
            padding: 0;
            margin: 0;
            font-weight: bold;

            li {
                background-color: rgba(255, 255, 255, 0.233);
                padding: 10px;
                border-radius: 10px;
            }
        }

        .release {
            text-align: right;
            margin: 0;
            padding: 0;

            &::before {
                content: "Release Data: ";
                color: $text-Gwhite;
            }
        }
    }

    &__tagline {
        margin: 0;
        font-size: 0.8rem;
        color: $text-Gwhite;
    }

    &__description {
        line-height: 1.5;
    }

    .close {
        font-weight: bold;
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.511);
        position: absolute;
        top:15px;
        right: 15px;
        cursor: pointer;
    }
    
    .close:hover {
        color: white;
    }

    .MainCard_popular {
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.211);
    }
}