body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(102, 134, 165);
    font-family: Helvetica, Arial, sans-serif;
}

ul {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 5px;
    list-style: none;
    padding: 20px;
    margin: 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.326);
    
}


