@import '../../styles/_mixins';

.TopRatedList {
    @include flex-container($align: center, $gap: 10px, $grow: 1);
    position: relative;
    z-index: 1;
    overflow-y: hidden;
    overflow-x: scroll;
}