.btn-primary {
    border: 0;
    padding: 15px 30px;
    background-color: rgb(189, 104, 104);
    color: white;
    font-weight: bold;
    transition: all 0.25s;
}

.btn-primary:hover {
    transform: scale(1.05);
    opacity: 60%;
}

.btn-primary:active {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.374);
    opacity: 80%;
    transform: scale(1.02);
}