@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;400;500;800&display=swap");

* {
  font-family: "Mukta Malar", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(249, 249, 249);
}

button {
  cursor: pointer;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main_navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding: 20px 20px 0px 20px;
}

.logo,
.copy {
  width: 15px;
}

.main_navbar ul {
  margin: 0;
  padding: 0;
  display: flex;

  align-items: center;
  gap: 10px;
}

.main_navbar ul li {
  list-style: none;
  padding: 10px;
}

.main_navbar ul input {
  background-image: url("./images/search2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 2px;
  padding: 0 0 0 25px;
  color: #707070;
  width: 60px;
  height: 25px;
  border: none;
  background-color: rgb(233, 233, 233);
  border-radius: 15px;
}

.main_navbar ul input:focus {
  outline: none;
}

.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.main_bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main_content .element_1 {
  display: flex;
  flex-direction: column;
  background-image: url("./images/bg_element1.jpg");
  background-size: cover;
  color: white;

  padding: 20px;
  border-radius: 10px;
}

.main_content .element_1 h2 {
  margin: 0;
  line-height: 35px;
}

.main_content .element_1 p {
  width: 200px;
  margin: 10px 0;
  line-height: 25px;
}

.main_content .element_1 .buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.main_content .element_1 .buttons .button_1 {
  border: none;
  background-color: white;
  font-size: 0.8rem;
  padding: 10px 30px;
  border-radius: 10px;
  width: 100%;
}

.main_content .element_1 .buttons .button_2 {
  border: none;
  background-color: rgba(255, 255, 255, 0.096);
  box-shadow: inset 0px 0px 10px 2px rgba(255, 255, 255, 0.342);
  width: 100%;
  color: white;

  font-size: 0.8rem;
  padding: 10px 30px;
  border-radius: 10px;
}

.element_2 {
  display: flex;

  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  padding: 20px;
  width: 100%;

  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.043);
}

.element_2 .card {
  background-image: url("./images/bgcard2.jpg");
  background-size: cover;

  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
}

.element_2_1 {
  width: 100%;
  text-align: left;
  padding: 20px 5px;
}

.element_2_2 {
  background-color: rgba(255, 255, 255, 0.21);
  padding: 20px 20px;
  width: 110%;
  padding-bottom: 25px;
  backdrop-filter: blur(5px);
  box-sizing: border-box;
}

.element_2_1 p,
.element_2_2 p {
  font-size: 0.8rem;
  margin: 0;
  padding: 0 0 0 20px;
  width: 200px;
}

.element_2_1 h2,
.element_2_2 h4 {
  margin: 0;
  padding: 0 20px;
}

.dati {
  display: flex;
}

.copy_button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin: 0;
  padding: 0;
}

.card_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 100%;
}

.main_coins {
  display: flex;
}

.coins {
  display: flex;
  flex-direction: column;
}

.card_2 ul {
  width: 100%;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card_2 ul li {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.card_2 ul li p {
  padding: 1px 10px;
  margin: 0;
}

.classified {
  font-size: 0.6rem;
  color: rgb(150, 150, 150);
}

.card_2 .eth {
  width: 30px;
  height: 30px;
}

.convert {
  border: none;
  background-color: rgb(246, 246, 246);
  font-size: 0.8rem;
  padding: 0 10px;
  border-radius: 10px;
}

.buttons_founds {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.buttons_founds .add_founds {
  border: none;
  background-color: #0b36fb;
  font-size: 0.8rem;
  padding: 10px 0px;
  border-radius: 10px;
  width: 100%;
  color: white;
}

.buttons_founds .withdraw {
  border: none;
  background-color: rgb(246, 246, 246);
  font-size: 0.8rem;
  padding: 10px 0px;
  border-radius: 10px;
  width: 100%;
}

.collectibles {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.collectibles img {
  width: 30px;
  height: 30px;
}

.card_coins {
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.card_coins .words {
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.card_coins .words h4,
.card_coins .words p {
  margin: 0;
  padding: 0;
}

.card_coins .words p {
  font-size: 0.7rem;
  color: rgb(108, 108, 108);
}

.card_coins .words .p_values .negative {
  color: rgb(212, 0, 0);
}

.card_coins .words .p_values .positive {
  color: rgb(0, 212, 42);
}

.card_coins .words .p_values {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.main-footer {
  background-color: rgb(243, 243, 243);
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-footer ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0 10px 0;
  margin: 0;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials h4 {
  margin: 10px;
}

.img-social {
  display: flex;
  gap: 20px;
}

.img-social .face,
.img-social .ig {
  width: 20px;
  margin-bottom: 20px;
  border-radius: 100%;
}

.main-footer ul li {
  list-style: none;
}

@media only screen and (min-width: 768px) {
  body {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 10px;
  }

  .main_navbar {
    flex-direction: row;

    align-content: center;
    justify-content: space-between;
    gap: 80px;
    border-right: 0.5px solid rgb(235, 235, 235);

    width: 100%;
  }
  .logo {
    padding: 0;
  }

  .main_navbar ul {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }

  .main_navbar ul input {
    width: 100px;
  }

  .main_navbar ul li {
    padding: 10px 20px;
    transition: all 0.25s;
    border-radius: 10px;
  }

  .main_navbar ul li:hover {
    background-color: #0b36fb;
    cursor: pointer;

    border-radius: 10px;
    color: white;
  }

  .main_content {
    width: 100%;
    flex-direction: column;

    justify-content: space-between;
    align-items: start;
    gap: 20px;
  }

  .main_bar {
    width: 100%;
    flex-direction: row;
    gap: 40px;
  }

  .element_1 {
    justify-content: space-around;
    width: 100%;
    order: 1;
  }

  .main_content .element_2 {
    width: 335px;
    order: 2;
  }

  .main_content .element_1 .buttons {
    justify-content: start;
    margin: 25px 0 10px 0;
  }

  .main_content .element_1 .buttons .button_1,
  .main_content .element_1 .buttons .button_2 {
    width: 150px;
  }

  .collectibles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    order: 3;
  }

  .collectibles .card_2 {
    flex-direction: row;
  }

  .card_coins {
    width: 400px;
    transition: all 0.35s;
  }

  .card_coins:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.029);
  }

  .main-footer ul {
    flex-direction: row;
    gap: 0 80px;
  }

  .img-social .face:hover,
  .img-social .ig:hover {
    opacity: 40%;
  }
}
