.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  box-sizing: border-box;
  height: 94vmin;
  background-color: #10171e;
  padding: 40px;
  color: rgb(240, 240, 240);
}

h1 {
  flex: 0 0 auto;
}

.images {
  width: 500px;
  height: 350;
}
