@import "../../styles/_mixins";

.Recipe {
  padding: 80px;
  @include flex-container($direction: column, $gap: 50px);

  h2 {
    text-transform: capitalize;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    filter: blur(10px);
  }

  .cardContainer {
    .container {
      position: relative;
      background-color: rgb(245, 245, 245);
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      .tab {
        @include flex-container();
        position: absolute;
        top: -39px;
        overflow: hidden;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .link {
          @include flex-container($align: center);
          background-color: rgb(187, 187, 187);
          text-decoration: none;
          color: #71666689;
          padding: 10px;
          font-weight: bold;

          &_active {
            background-color: rgb(245, 245, 245);
            color: rgba(36, 36, 36, 0.832);
          }
        }
      }

      ul {
        list-style: none;
      }
    }
  }
}
