.MessageCard {
  display: flex;
  justify-content: space-between;
  padding: 6px 20px;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(24, 24, 24, 0.45);

}

.MainContent__card {
  width: 100%;
}

.MessageCard__text{
  font-size: 1rem;
}

.MessageCard__info{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 0.9rem;
  color: rgb(174, 174, 174);
}

.DeleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  background-color: lightcoral;
  height: 20px;
  width: 20px;
  cursor:pointer;
}

.DeleteBtn:hover {
  filter: brightness(1.1);

}

.DeleteBtn:active {
  filter: brightness(0.8);
}
