@import "../../styles/variables";
@import "../../styles/_mixins";

.Homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  box-sizing: border-box;
  height: 94vmin;
  padding: 40px;
  color: $defaultColorText;

  .background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    filter: blur(10px);
  }

  h1 {
    flex: 0 0 auto;
  }

  .images {
    width: 500px;
    height: 350;
  }

  .button_container {
    @include flex-container($justify: space-between);
    width: 100%;

    .button {
      background-color: #943b3b;
      padding: 10px;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.15s;

      &:hover {
        transform: scale(1.1);
      }

      &:disabled {
        background-color: #943b3b56;
        cursor: auto;
        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}
