@import "../../styles/_variables";
@import "../../styles/_mixins";

.NavBar {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 8%;
  @include flex-container($align: center, $justify: space-between, $gap: 30px);
  background-color: $backgroundColor-default;
  color: $defaultColorText;
  padding: 0 30px;

  &__link {
    height: 0;
    overflow: hidden;

    .category_list {
      display: none;
    }

    &.active {
      @include flex-container($direction: column, $gap: 30px, $align: center);
      width: 100%;
      height: auto;
      top: 7.8vh;
      left: 0;
      padding: 20px 0;
      z-index: 999;
      background-color: $backgroundColor-default;
      position: absolute;
      transition: all 0.15s;

      .arrow {
        color: rgba(255, 255, 255, 0.522);
      }
    }

    li {
      @include flex-container($align: center, $gap: 4px);
      cursor: pointer;
      // height: 20px;
      padding: 1px;
      box-sizing: border-box;
    }
  }

  .overlay {
    position: fixed;
    top: 8vh;
    left: 0;
    z-index: 0;
    height: 92vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    transition: all 0.15s;

    &.active {
      pointer-events: all;
      background-color: rgba(0, 0, 0, 0.395);
    }
  }

  .logo_70 {
    width: 60px;
  }

  .browse_btn {
    @include flex-container($align: center);
    position: absolute;
    z-index: 3;
    left: 30%;
    .arrow {
      transform: rotate(180deg);
      color: rgba(255, 255, 255, 0.522);
      transition: all 0.5s;
    }

    &.active {
      .arrow {
        transform: rotate(0deg);
      }
    }
  }

  &__searchbar_container {
    position: absolute;
    right: 0;
    @include flex-container(
      $align: center,
      $justify: flex-end,
      $direction: row-reverse,
      $gap: 10px
    );
    flex: 0 0 auto;
    margin: 0 5%;
    width: 90%;
    z-index: 999;
    box-sizing: border-box;
    pointer-events: none;

    &.active {
      pointer-events: all;
    }

    .search_icon {
      position: absolute;
      left: 90%;
      font-size: 1.6rem;
      color: rgb(205, 205, 205);
      cursor: pointer;
      transition: all 0.15s linear;
      pointer-events: all;

      &.active {
        position: absolute;
        left: 6px;
      }

      &:hover {
        color: white;
      }
    }

    .close_bar {
      display: none;
      margin: 0;
      padding: 0;

      &.active {
        font-size: 1.5rem;
        display: block;
        flex: 0 0 auto;
      }
    }
  }

  &__searchbar {
    margin: 0 auto;
    width: 0;
    border: 0;
    outline: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    outline: none;
    transition: all 0.15s linear;

    &::placeholder {
      transition: all 0.25s;
      opacity: 0;
    }

    &.active {
      width: 78vw;
      background-color: $DarkBackground;
      border: 1px solid rgba(255, 255, 255, 0.366);
      border-radius: 0;
      padding-left: 34px;
      color: white;

      &::placeholder {
        opacity: 1;
      }
    }
  }

  .results_container {
    position: absolute;
    top: 6vh;
    left: -5vw;
    width: 100vw;
    height: 0%;
    overflow: auto;
    z-index: 4;
    background-color: $backgroundColor-default;
    transition: all 0.35s ease-in-out;

    &.active {
      height: 100vh;
    }

    ul {
      list-style: none;
      @include flex-container($direction: column);
      font-weight: 200;

      li {
        @include flex-container($justify: center, $align: center);
        padding: 10px 15px;
        flex: 0 0 auto;
        border-bottom: 1px solid rgba(197, 210, 255, 0.058);
        cursor: pointer;
        transition: all 0.15s;

        &:hover {
          color: rgb(21, 144, 239);
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .NavBar {
    @include flex-container($justify: space-between, $gap: 30px);
    background-color: $backgroundColor-default;
    color: $defaultColorText;
    padding: 0 30px;

    &__link {
      @include flex-container($gap: 30px, $align: center);
      width: 100%;
      height: 100%;
      top: auto;
      left: auto;
      padding: 0;
      height: auto;
      overflow: visible;
      color: rgba(255, 255, 255, 0.853);

      li {
        @include flex-container($align: center, $gap: 4px);
        cursor: pointer;
        height: 100%;
      }

      .category_hover {
        color: rgb(255, 255, 255);
      }

      .arrow {
        color: rgba(255, 255, 255, 0.522);
      }
    }

    .category_list {
      position: absolute;
      display: none;
      top: 8vh;
      left: 0vw;
      z-index: 999;
      background-color: $DarkBackground;
      width: 100%;
      height: max-content;

      .content {
        @include flex-container($direction: row, $justify: center);
        padding: 30px;
        height: 100%;
        cursor: default;

        .left_sider {
          @include flex-container($align: flex-start, $justify: flex-end);
          text-align: start;
          width: 50%;
          height: 100%;
          padding-right: 40px;
          border-right: 1.8px solid rgba(212, 236, 255, 0.239);

          .list_container {
            @include flex-container(
              $direction: column,
              $justify: center,
              $gap: 20px
            );

            ul {
              display: grid;
              flex: 0 0 auto;
              grid-template: 1fr 1fr;
              grid-template-columns: 1fr 1fr;
              gap: 10px;
              li {
                @include flex-container($align: center, $justify: center);
                padding: 0;
                margin: 0;
                flex: 0 0 auto;
                padding: 30px 40px;
                border-radius: 4px;
                background-image: url("../../assets/category_btn.png");
                background-size: cover;
                background-repeat: no-repeat;

                &:hover {
                  box-shadow: 0 0 3px 1.8px white;
                }
              }
            }
          }
        }

        .right_sider {
          padding-left: 40px;
          flex-grow: 1;
          text-align: left;

          .list_container {
            @include flex-container($direction: column, $gap: 20px);

            h4 {
              text-transform: capitalize;
            }

            ul {
              display: grid;
              grid-auto-flow: column;
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: repeat(10, auto);
              gap: 10px;
              li {
                color: #8296a5;
                padding-left: 8px;
                margin: 0;
              }
            }
          }
        }
      }

      &.hover {
        display: block;
      }
    }

    .overlay {
      display: none;
    }

    .logo {
      @include flex-container($align: center);
      height: 100%;
    }

    #logo-70 {
      width: 60px;
    }

    .browse_btn {
      display: none;
    }

    &__searchbar_container {
      width: auto;
      position: relative;
      @include flex-container($align: center);
      flex: 0 0 auto;
      margin: 0;

      .search_icon {
        position: static;
        font-size: 1.6rem;
        color: rgb(205, 205, 205);
        cursor: pointer;

        &.active {
          position: absolute;
          left: 5px;
        }

        &:hover {
          color: white;
        }
      }

      .close_bar {
        display: none;
        &.active {
          display: none;
        }
      }
    }

    &__searchbar {
      width: 0;
      border: 0;
      outline: 0;
      background-color: rgba(255, 255, 255, 0);
      padding: 10px;
      outline: none;
      transition: all 0.35s;

      &::placeholder {
        transition: all 0.35s;
        opacity: 0;
      }

      &.active {
        width: 200px;
        background-color: $DarkBackground;
        border: 1px solid rgba(255, 255, 255, 0.366);
        border-radius: 0;
        padding-left: 34px;
        color: white;

        &::placeholder {
          opacity: 1;
        }
      }
    }

    .results_container {
      top: 6vh;
      right: 0;
      left: auto;
      width: 100%;

      &.active {
        height: auto;
      }
    }
  }
}
