.CardList {
  margin: 0 20px;
}

.CardList__top {
  width: 100%;
  text-align: left;
  font-size: 1.8rem;
  
  color: rgb(73, 73, 73)
}

.CardList__list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}