.Counter {
  button {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    color: white;
    font-weight: bold;
  }

  .increse {
    background-color: rgb(53, 155, 66);
  }

  .decrese {
    background-color: rgb(189, 87, 87);
  }
}
