@import "../../styles/_mixins";
@import "../../styles/_variables";

.WrapperCard {
  position: relative;
  background-color: $backgroundColor-default;
  @include flex-container($align: center, $justify: center);
  width: 45%;
  min-height: 88px;
  margin: 0;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
  pointer-events: all;

  .clickable_area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
  }

  .textContainer {
    display: none;
  }

  &.big {
    color: rgb(244, 244, 244);
    width: 100%;
    height: 250px;
    .inside_container {
      .titlecard {
        display: none;
      }
    }

    img {
      object-fit: cover;
      height: 200px;
    }

    .textContainer {
      display: block;
      @include flex-container(
        $direction: column,
        $align: flex-start,
        $justify: center,
        $gap: 5px
      );
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 52px;
      padding: 0 10px;
      .vote_average {
        @include flex-container($justify: space-between);
        width: 100%;
        span {
          font-size: 0.9rem;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.684);
        }
        .rating::before {
          content: "Rating: ";
          opacity: 0.5;
        }
      }
    }
  }

  p {
    @include flex-container($align: center, $justify: center);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    font-weight: bold;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.689);
  }

  .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .placeholder_container {
    @include flex-container($align: center, $justify: center);
    height: 100%;
    width: 100%;
    .placeholder {
      width: 70px;
    }
  }
}
@media only screen and (min-width: 769px) {
  .WrapperCard {
    position: relative;
    height: 180px;
    max-width: 320px;
    overflow: hidden;
    flex: 0 0 auto;
    border-radius: 6px;
    transition: transform 0.25s;

    &.big {
      max-width: 100%;
    }

    .background {
      height: 100%;
    }

    &.hover {
      border: 2px solid rgb(22, 173, 255);
      transform: scale(1.1);
      z-index: 1;
    }
  }
}
