.MainSection {
    height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;

   &_content {
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 83.8%;
    width: 60%;
    color: white;
    padding: 20px 0;
    box-sizing: border-box;
    }

    &_background {
        position: fixed;
        top: 0;
        z-index: -3;
        background-image: url('https://images.unsplash.com/photo-1626814026160-2237a95fc5a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
        height: 100%;
        width: 100%;
        filter: blur(7px) brightness(0.6) contrast(1.4);
        opacity: 0.8;

        &--overlay {
            position: fixed;
            top: 0;
            z-index: -2;
            height: 100vh;
            width: 100%;
            opacity: 0.5;
            background-color: black;
        }
    }
    
    h2 {
        margin: 0;
        padding: 0;
    }
}