.Navbar {
    position: sticky;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    background-color: lightseagreen;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.457);
    z-index: 1;
}

.Navbar p {
    margin: 0;
    padding: 0;
}

#logo-38 {
    width: 60px;
}

.Navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin: 5px;
}

.Navbar__list li {
    cursor: pointer;
}

.Navbar__list li:hover {
    opacity: 60%;
    transform: scale(1.08);
}

.Navbar__username-img {
    border-radius: 100%;
    width: 30px;
}

.log_out {
    color: lightcoral;
    text-shadow: 0 0 4px ghostwhite;
}
