.FriendCard {
  position: relative;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  color: rgb(23, 23, 23);
  cursor: pointer;
  transition: all .35s;
  border-radius: 8px;
}

/* .FriendCard:hover {
  background: lightseagreen;
} */

.FriendCard__photo {
  width: 75px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.FriendCard__name {
  padding: 4px 14px;
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
}

.FriendCard__dltbtn {
  transform: scale(0.7) ;
  height: 25px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: transparent;
  border: 0;
  border-radius: 100%;
  background-color: lightcoral;
  color: rgba(248, 248, 255, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  /* transition: all 1.35s; */
}

.FriendCard__dltbtn:hover {
  /* transform: scale(1.0); */
  color: rgba(0, 0, 0, 0.35);
}

